

{% extends "layout.html" %}
{% block content %}


      <!--slogan-->
      <h2  class="margin-top-max">Welcome!</h2>
      <p  class="grey"></p>
      <h3>Faculty MANAGEMENT PORTAL </h3>
      <p></p>
        
<div  class="row">
        <!--box 1-->
        <div  class="columns five card green offset-by-one" onclick="javascript:location.href='Timetablesubmit/5cs.html'" >
          <span  class="fa fa-user"></span> <br>
          <h5>View faculties profile</h5>
        </div>
        <!--box 2-->
        <div  class="columns five card red" onclick="javascript:location.href='Timetablecheck/5cs.html'" >
          <span  class="fa fa-graduation-cap"></span> <a  href="secure/Attendance/view/check.php"></a><br>
          <h5> 
               My profile</h5>
        </div>
      </div>
    </div>
    <br>
    <br>
    <center>
       <div  style="font-family:verdana;font-size:13px;"><br>
      <a  href="layout.html">HOME</a>
		<br>
    <br>
        <a  href="www.google.com">Designed by Rahul_Dhrub,  &amp; Adarsh_Kumar</a>
		</div>
{% endblock %}