{% extends "layout.html" %}
{% block content %}  

{% if name == "default" %}
<h4> Faculties List with link to their portal</h4>

{% endif %}


<center>
  <h5> Apply for leave below:</h5> <br>
  <!-- show remaining leave time--> 
  remaining time:

  <form action="{{ url_for('apply_leave') }}" method="post">
    id : <input type="hidden" name= "id" value ="{{name}}" />

    number of days for leave : <input type="number" placeholder="Number of Days" name="days" value="{{
                          request.form.days }}"><br>
  </form>   
</center>


</div>
{% endblock %}